@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
  --primary-color: #7a183e;
  --secondary-color: #ad0247;
  --tertiary-color: #ac144e;
  --quaternary-color: #ac144e;
  --primary-blue-color: #0c1a35;
  --secondary-blue-color: #1a2436;
  --white-color: #fff;
  --lato-font: 'Lato', sans-serif;
  --gill-sans-font:
    'Gill Sans',
    'Gill Sans MT',
    calibri,
    'Trebuchet MS',
    sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-family: var(--lato-font);
  border: none;
  outline: none;
}
